version: "3.8"

services:
  rabbitmq:
    image: rabbitmq:3.13-management
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: [ "CMD", "rabbitmq-diagnostics", "-q", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - microservices-net

  zipkin:
    image: openzipkin/zipkin
    ports:
      - "9411:9411"
    networks:
      - microservices-net

  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - microservices-net


  analytics-service:
    build:
      context: .
      dockerfile: analytics-service/Dockerfile
      args:
        BUILDKIT_INLINE_CACHE: 1
    environment:
      SPRING_RABBITMQ_HOST: rabbitmq
      SERVER_PORT: 25590
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - microservices-net

  audit-service:
    build:
      context: .
      dockerfile: audit-service/Dockerfile
      args:
        BUILDKIT_INLINE_CACHE: 1
    environment:
      SPRING_RABBITMQ_HOST: rabbitmq
      SERVER_PORT: 25567
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - microservices-net

  statistics-service:
    build:
      context: .
      dockerfile: statistics-service/Dockerfile
      args:
        BUILDKIT_INLINE_CACHE: 1
    environment:
      SPRING_RABBITMQ_HOST: rabbitmq
      SERVER_PORT: 25568
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - microservices-net

  main:
    build:
      context: .
      dockerfile: main/Dockerfile
      args:
        BUILDKIT_INLINE_CACHE: 1
    ports:
      - "25566:25566"
    environment:
      SPRING_RABBITMQ_HOST: rabbitmq
      SERVER_PORT: 25566
      GRPC_CLIENT_ANALYTICS_SERVICE_ADDRESS: static://analytics-service:25590
      MANAGEMENT_ZIPKIN_TRACING_ENDPOINT: http://zipkin:9411/api/v2/spans
    depends_on:
      rabbitmq:
        condition: service_healthy
      analytics-service:
        condition: service_started
    networks:
      - microservices-net

  jenkins:
    image: jenkins/jenkins:lts
    user: root
    ports:
      - "25591:8080"
      - "50000:50000"
    environment:
      JENKINS_OPTS: --prefix=/jenkins
    volumes:
      - jenkins_home:/var/jenkins_home
      - .:/var/jenkins_home/workspace/DeliveryService
    networks:
      - microservices-net

networks:
  microservices-net:
    driver: bridge

volumes:
  jenkins_home:
